@import url("prefers-reduced-motion.css");
@import url("wordpress.css");

.site-background {
    background: var(--c-cardinal);  /* fallback for old browsers */
    background: -webkit-linear-gradient(150deg, var(--c-cardinal), var(--c-valentino));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(150deg, var(--c-cardinal), var(--c-valentino)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-minus-100);
}

h2 {
    font-family: Lobster, Arial, cursive;
    font-size: 2rem;
    line-height: 1.125em;
    font-weight: 400;
    color: var(--c-white);
    margin-bottom: 0.75em;
}

footer,
p {
    font-family: Merriweather, "Times New Roman", serif;
    color: var(--c-white);
    font-size: 1.25rem;
    line-height: 1.65em;
    margin: 0 0 1.4em 0;
}

@media (--bp-small) {

    h2 {
        font-size: 3rem;
    }

    footer,
    p {
        font-size: 1.75rem;
        line-height: 1.75em;
    }
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.link-contact {
    text-decoration: none;
    margin-right: 0.25rem;
    position: relative;
    display: inline-block;
    z-index: var(--z-plus-50);
}

.link-contact::after {
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: var(--z-minus-50);
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
}

.link-contact:hover::after {
    width: 1rem;
    height: 1rem;
    left: 40%;
    top: -20%;
}

.icon-contact {
    font-size: 1.25em;
    margin-right: 0.25em;
    vertical-align: middle;
    position: relative;
    z-index: var(--z-plus-60);
}

.home .featured-image {
    position: absolute;
    bottom: 0;
    left: -10%;
    max-width: 90%;
}

.home .image-wrapper img {
    filter: opacity(0.15);
    width: 100%;
    height: auto;
}

.hello {
    letter-spacing: normal;
    transition: all 0.2s ease-out;
}

.hello:hover {
    color: var(--c-bright-sun);
    letter-spacing: 0.25em;
    font-weight: 900;
    text-decoration: none;
}

.hello:hover::after {
    content: 'oooo';
}

.letter {
    display: inline-block;
    position: relative;
}

@keyframes bounce {

    from {
        top: 50%;
        left: 50%;
    }

    to {
        top: -20%;
        left: 40%;
    }
}

@keyframes grow {

    from {
        width: 0;
        height: 0;
    }

    to {
        width: 1rem;
        height: 1rem;
    }
}

.letter::after {
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: var(--z-minus-50);
    transform: translate(-50%, -50%);
}

.hello:hover .letter::after {
    animation-name: bounce, grow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hello:hover .l-1::after {
    animation-duration: 0.25s;
    animation-delay: 0.125s;
}

.hello:hover .l-2::after {
    animation-duration: 0.25s;
    animation-delay: 0.25s;
}
